
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <!-- Background Circle -->
                <circle cx="50" cy="50" r="45" fill="#4CAF50"/>
                
                <!-- Inner Circle -->
                <circle cx="50" cy="50" r="35" fill="#FFFFFF"/>
                
                <!-- Letter 'Đ' -->
                <text x="50%" y="50%" dominant-baseline="central" text-anchor="middle" font-family="Arial" font-size="60" fill="#4CAF50">TĐ</text>
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active' : activeNavItem === 0}" (click)="setActiveNavItem(0)" href="#">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="setActiveNavItem(2)" [ngClass]="{'active' : activeNavItem === 2}" routerLink="/orders">
                        Giỏ hàng
                        <fa-icon [icon]="faShoppingCart"></fa-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <ng-container *ngIf="userResponse; else loginLink">
                        <ng-container ngbPopover="Tài khoản của tôi,Đơn mua,Đăng xuất" popoverTitle="User Actions" triggers="click" [placement]="'bottom'">
                            <a class="nav-link" [ngbPopover]="popoverContent" (click)="togglePopover($event)" routerLink="/profile" (click)="setActiveNavItem(3)" [ngClass]="{'active' : activeNavItem === 3}">
                                Hi: {{ userResponse.fullname }}
                            </a>
                            <ng-template #popoverContent>
                                <div class="popover-list">
                                    <a class="popover-item" (click)="handleItemClick(0)">Tài khoản của tôi</a>
                                    <ng-container *ngIf="userResponse.role.id === 2">
                                        <a class="popover-item" (click)="handleItemClick(3)">Tài khoản của ADMIN</a>
                                    </ng-container>
                                    <a class="popover-item" (click)="handleItemClick(1)">Đơn mua</a>
                                    <a class="popover-item" (click)="handleItemClick(2)">Đăng xuất</a>
                                </div>
                            </ng-template>
                        </ng-container>
                    </ng-container>
                    <ng-template #loginLink>
                        <a class="nav-link" routerLink="/login" (click)="setActiveNavItem(3)" [ngClass]="{'active' : activeNavItem === 3}">Đăng nhập</a>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
</nav>


</header>